.page {
  padding-bottom: 80px;
}

.info {
  padding: 54px 0;
  max-width: 750px;
  margin: 0 auto;
}

.title {
  font-size: 3rem;
  font-family: "Sansita Swashed", system-ui;
  margin-bottom: 24px;
}
